.create-category-modal {
    label {
        font-size: 18px;
        font-weight: 500;
        margin-top: 8px;
    }

    .btn-container {
        .btn-ok {
            width: 70px;
            margin-right: 8px;
        }
    }
}