.header {
    height: var(--height-header);
    position: relative;

    .title-header {
        font-weight: bold;
        font-size: 22px;
    }

    .account-box {
        margin: 0 22px;
        padding: 12px;

        .logout-box {
            padding-left: 12px;
        }
    }
}

.header::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: #CCCCCC;
    height: 1px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}