.input-field {

    .input {
        width: 100%;
        height: 50px;
        border: 1px solid #d9d9d9;
        border-radius: 40px;
        outline: none;
        padding: 5px 20px;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        color: #000;
    }

    .input:focus {
        border: 1px solid #2f5acf;
    }

    .input.disabled {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .input.has-error {
        border: 1px solid #ff2459;
    }

    .error-message{
        margin: 0;
        padding: 0 16px;
        text-align: left;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        color: #ff2459;
    }
}